.dual-sort-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .dual-sort-container {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: 10px;
    min-height: 86px;
  }
}
