.sidebar-nav {
  margin: 0 auto;
  width: 20rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 64px 12px 56px;

  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--orange-color);
}

.nav-link:hover .nav-text {
  font-weight: var(--font-weight-bold);
}

.nav-link .nav-icon {
  width: 1.8rem;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.nav-link .nav-text {
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--font-size-14);
}

.nav-link .nav-text:hover {
  font-weight: var(--font-weight-bold);
}

.nav-link.student {
  padding: 12px 64px 12px 54px;
}

.nav-link.home .nav-icon {
  width: 1.9rem;
  height: 1.7rem;
}

.nav-link.course .nav-icon {
  width: 1.2rem;
  height: 1.5rem;
  margin-right: 1.6rem;
}

.nav-link.student .nav-icon {
  width: 2rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.nav-link.payment .nav-icon {
  width: 1.5rem;
  height: 1.7rem;
}

.nav-link.report .nav-icon {
  width: 1.3rem;
  height: 1.7rem;
}

.nav-link.setting .nav-icon {
  width: 1.5rem;
  height: 1.7rem;
}

.nav-icon {
  margin-right: 1rem;
  width: 20px;
  text-align: center;
}

.nav-link.sidebar-logout .nav-text {
  display: block;
}
