.page {
  padding: 0 3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f8f8f8;
  height: calc(100vh - 6rem);
  overflow-y: auto;
}

.page-name {
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.page-actions {
  display: flex;
  align-items: center;
}

.btn.btn-add {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: var(--space-16);

  background-color: var(--orange-color);
  color: #333;
  cursor: pointer;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semibold);
}

@media screen and (max-width: 768px) {
  .btn.btn-add {
    z-index: 10000;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    right: 30px;
    margin-right: 20px;
  }

  .btn.btn-add span {
    display: none;
  }

  .btn.btn-add::after {
    content: '+';
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .page {
    height: 100vh;
  }
}
