/* Element: Footer Link */
.footer__link {
  color: #830900;
  text-decoration: none;
  font-size: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

/* Block: Footer */
.card__footer {
  margin-top: 3rem;
  text-align: center;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
}
