/* Block: Card */
.card {
  width: 47.5rem;
  min-height: 55rem;
  padding: 4.4rem 3rem;
  background-color: var(--white-color);
  border-radius: 2rem;
  box-shadow: 2px 5px 10px 0px #0000001a;
}

/* Block: Header */
.card__header {
  margin-bottom: 30px;
}

/* Element: Header Logo */
.header-title {
  position: relative;
  padding-left: 4.5rem;
  margin-bottom: 3rem;

  font-size: var(--font-size-32);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
}

.header-title::before {
  content: '';
  position: absolute;
  left: 4.5rem;
  top: 0;

  height: 100%;
  width: 0.6rem;
  background-color: #f8d442;
  border-radius: 6px;
}

/* Element: Header Subtitle */
.header-subtitle {
  font-size: 2.2rem;
  color: var(--black-color);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

/* Element: Header Description */
.header-description {
  font-size: var(--font-size-14);
  color: var(--dark-gray-color);
  text-align: center;
  margin-bottom: 5rem;
}

/* Block: Form */
.card-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Element: Form Group */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Element: Form Input */
.form-input {
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.4rem;
  width: 100%;
  font-size: var(--font-size-12);
  transition: border-color 0.3s;
}

.form-input::placeholder {
  font-size: var(--font-size-12);
  color: var(--light-gray-color);
}

.form-input:focus {
  outline: none;
  border-color: var(--input-focus-color);
}

/* Element: Form Submit */
.btn-submit {
  margin-top: 1rem;
  padding: 1.4rem;
  border: none;
  border-radius: 0.4rem;

  background-color: var(--orange-color);
  color: #333;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: var(--button-hover-color);
}

.error-message {
  color: var(--color-error);
  font-size: var(--font-size-12);
}
