.profile-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.profile-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;

  margin-right: 2rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
}

.btn-upload {
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;

  font-size: var(--font-size-10);
  background-color: #f5f5f5;
  color: #555;
  cursor: pointer;
}

.btn-upload:hover {
  background-color: #ddd;
}
