.popup-container {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: 50rem;
  max-width: 90%;
  max-height: 90vh;

  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-body {
  padding: 2rem;
  overflow-y: auto;
  flex-grow: 1;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--black-color);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
}

.form-group input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: var(--font-size-14);
}

.form-group:nth-child(5) .calendar-input {
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  position: relative;
}

.form-group:nth-child(5) .calendar-input input {
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: var(--font-size-14);
  z-index: 100;
}

.form-group:nth-child(5) .calendar-input img {
  z-index: 1;
  position: absolute;
  right: 0;
  padding-right: 1rem;
  pointer-events: auto;
  cursor: pointer;
}

.form-group:nth-child(5) input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  height: auto;
  width: auto;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.form-group:last-child input {
  position: relative;
  flex: 1;
}

.form-group input:focus {
  outline: none;
  border-color: #f5a623;
}

.is-invalid {
  border-color: var(--color-error) !important;
  border-width: 2px;
}

.calendar-input .error-message {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.disabled-input {
  background-color: var(--light-gray-color);
  color: var(--black-color);
  pointer-events: not-allowed;
}

/* Form header component */
.popup-header {
  position: relative;
  flex-shrink: 0;
  padding: 2rem;

  border-bottom: 2px solid var(--input-border-color);
  background-color: var(--orange-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.popup-header h2 {
  margin: 0;
  color: var(--black-color);
  font-size: var(--font-size-17);
  text-transform: uppercase;
}

/* Form footer component */
.popup-footer {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.btn-cancel {
  border: 1px solid var(--input-border-color);
  background-color: var(--white-color);
  color: var(--dark-gray-color);
}

.btn-cancel:hover {
  background-color: var(--button-hover-color);
  color: var(--white-color);
}

.btn-add {
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: var(--font-size-12);
  border: none;
  font-weight: var(--font-weight-bold);
}

.btn-add:hover {
  background-color: #1294ff;
}

.btn-add.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--light-gray-color);
  border-color: var(--semi-gray-color);
}

@media (max-width: 576px) {
  .popup-container {
    width: 95%;
    max-height: 80vh;
    top: 45%;
  }

  .profile-upload {
    flex-direction: column;
    align-items: center;
  }

  .profile-placeholder {
    margin-right: 0;
  }

  .popup-body,
  .popup-footer {
    padding: 1rem;
  }
}
