.popup-header {
  position: relative;
  flex-shrink: 0;
  padding: 2rem;

  border-bottom: 2px solid var(--input-border-color);
  background-color: var(--orange-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.popup-header h2 {
  margin: 0;
  color: var(--black-color);
  font-size: var(--font-size-17);
  text-transform: uppercase;
}

.close-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  padding: none;

  border: none;
  font-size: var(--font-size-32);
  background: none;
  color: var(--black-color);
  cursor: pointer;
}

.close-btn:hover {
  color: #f44336;
}
