.sidebar__logout {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;

  margin-top: auto;
  margin-left: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--black-color);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  border: none;
  background-color: transparent;
}

.sidebar__logout:hover {
  background-color: var(--orange-color);
  font-weight: var(--font-weight-bold);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.sidebar__logout-icon {
  margin-left: 1rem;
  width: 1.7rem;
  height: 1.7rem;
}
