.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--white-color);
  padding: 1rem 2rem;
}

.back-icon {
  border: none;
  background-color: transparent;
}

.back-icon img {
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
}

.back-icon:hover {
  background-color: var(--orange-color);
  border-radius: 1rem;
  color: var(--black-color);
}
.content__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.content-actions {
  display: flex;
  align-items: center;
}

.content__notification {
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.content__notification img {
  width: 1.7rem;
  height: 2rem;
}
