.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--white-color);
  padding: 1rem 2rem;
}

.back-icon {
  border: none;
  background-color: transparent;
}

.back-icon img {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

.back-icon:hover {
  background-color: var(--orange-color);
  border-radius: 1rem;
  color: var(--black-color);
}
.content__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.content-actions {
  display: flex;
  align-items: center;
}

.content__search {
  position: relative;
  width: 22rem;
  height: 3.7rem;
}

.content__search-input {
  width: 100%;
  height: 100%;
  padding: 8px;

  border: none;
  border-radius: 8px;
  outline: none;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
}

.content__search-input::placeholder {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  color: var(--semi-gray-color);
}

.content__search-icon {
  position: absolute;
  right: 1.2rem;
  top: 50%;

  transform: translateY(-50%);
  color: #999;
  width: 1.4rem;
  height: 1.4rem;
}

.content__notification {
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.content__notification img {
  width: 1.7rem;
  height: 2rem;
}
