.popup-footer {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.btn-cancel {
  border: 1px solid var(--input-border-color);
  background-color: var(--white-color);
  color: var(--dark-gray-color);
}

.btn-cancel:hover {
  background-color: var(--button-hover-color);
  color: var(--white-color);
}

.btn-add {
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: var(--font-size-12);
  border: none;
  font-weight: var(--font-weight-bold);
}

.btn-add:hover {
  background-color: #1294ff;
}

.btn-add.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--light-gray-color);
  border-color: var(--semi-gray-color);
}
